---
import MainButton from "../buttons/mainButton.astro";

export interface Props {
    postURL: string;
}

const { postURL } = Astro.props;
---

<section
    class="my-3 flex flex-col gap-x-3 gap-y-1 md:flex-row"
    aria-label="Social media share"
>
    <span class="flex items-center pb-1">Share this post on:</span>
    <div class="flex gap-x-3 gap-y-3 sm:flex-row">
        <!-- Twitter -->
        <MainButton
            leftIcon="entypo-social:twitter"
            isSecondary={true}
            target="_blank"
            href={`https://twitter.com/intent/tweet?url=${postURL}`}
        />
        <!-- Facebook -->
        <MainButton
            leftIcon="entypo-social:facebook"
            isSecondary={true}
            target="_blank"
            href={`https://www.facebook.com/sharer/sharer.php?u=${postURL}`}
        />
        <!-- LinkedIn -->
        <MainButton
            leftIcon="entypo-social:linkedin"
            isSecondary={true}
            target="_blank"
            href={`https://www.linkedin.com/shareArticle?mini=true&url=${postURL}`}
        />
    </div>
</section>
