---
import {getCollection} from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import MainLayout from "../../layouts/MainLayout.astro";

import {slugify} from "../../utils";

export async function getStaticPaths() {
	let posts = await getCollection("blog");
	const uniqueTags = [...new Set(posts.map((post: any) => post.data.category).flat())];

	return uniqueTags.map((currentCategory) => {
		const filteredPosts = posts.filter((post: any) => post.data.category.includes(currentCategory));
		return {
			params: {category: slugify(currentCategory), categoryName: currentCategory},
			props: {posts: filteredPosts},
		};
	});
}
const {category, categoryName} = Astro.params;
const {posts} = Astro.props;
console.log(category);
---

<MainLayout>
	<main>
		<h1>{categoryName}</h1>
		<section>
			<ul>
				{
					posts.map((post: any) => (
						<li>
							<FormattedDate date={post.data.pubDate} />
							<a href={`/blog/${post.slug}/`}>{post.data.title}</a>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</MainLayout>
