---
import MainLayout from "../../layouts/MainLayout.astro";
import PageTitle from "../../components/PageTitle.astro";
import Pagination from "../../components/Pagination.astro";

import { CollectionEntry, getCollection } from "astro:content";
import { slugify } from "../../utils";
import PostPreview from "../../components/PostPreview.astro";
import MainButton from "../../components/buttons/mainButton.astro";
import TitleSection from "../../components/TitleSection.astro";

// Getting all posts
async function fetchPosts() {
    let posts: CollectionEntry<"blog">[] = (await getCollection("blog")).sort(
        (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
    );
    return posts.filter((post) => !post.data.draft);
}

// === PAGINATION ===
const { page } = Astro.props;

export async function getStaticPaths({ paginate }) {
    let posts: CollectionEntry<"blog">[] = (await getCollection("blog")).sort(
        (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
    );
    posts = posts.filter((post) => !post.data.draft);
    return paginate(posts, { pageSize: 8 });
}

const posts = await fetchPosts();
// === 100 DAYS OF BLOGGING ===
function getNumberOfUniquePostsFromDate(date: Date) {
    return posts.filter((post) => {
        return post.data.pubDate.getTime() > date.getTime();
    }).length;
}

const numberOfDaysCompletedChallenge = getNumberOfUniquePostsFromDate(
    new Date("2023-07-10"),
);

// === CATEGORIES ===
const categories = [...new Set(posts.map((post) => post.data.category).flat())];
const categoryPath = "/blog/category/";
---

<MainLayout
    title={"Blog"}
    description="This is my personal blog, where I share thoughts on tech, personal growth, and health. Find insights into the latest tech trends, learn from my health journey, and join me on my personal journey!"
>
    <main class="flex flex-col">
        <h1 class="mb-0">Blog</h1>

        <div class="mb-6 mt-0 text-lg font-semibold opacity-60">
            Personal blog with hopefully insigtful content
        </div>

        <section class="my-4" aria-label="Categories">
            <div
                class="no-scrollbar flex gap-x-2 overflow-x-scroll whitespace-nowrap"
            >
                {
                    categories.map((category) => {
                        return (
                            <MainButton
                                isSecondary={true}
                                text={category}
                                href={categoryPath + slugify(category)}
                            />
                        );
                    })
                }
            </div>
        </section>

        <section aria-label="Blog posts">
            {
                page.data.map((post: any) => (
                    <PostPreview
                        title={post.data.title}
                        description={post.body.split(/\n\n/)[0]}
                        postSlug={`/blog/${post.slug}/`}
                        category={post.data.category}
                        categoryPath={categoryPath}
                        pubDate={post.data.pubDate}
                        shortText={post.body.split(/\n\n/).length <= 1}
                    />
                ))
            }
        </section>
        <Pagination
            prevUrl={page.url.prev}
            nextUrl={page.url.next}
            currentPage={page.currentPage}
            lastPage={page.lastPage}
        />
        <section
            class="my-4 rounded-xl border border-violet-200 bg-gradient-to-r from-violet-50 to-violet-100 p-4 backdrop-blur-md"
            aria-label="100 Days of Blogging"
        >
            <a class="flex flex-col" href="/blog/100-days-of-blogging/">
                <span class="font-medium text-violet-400"
                    >100 Days of Blogging Challenge</span
                >
                <span class="my-2 text-xl font-bold"
                    >{numberOfDaysCompletedChallenge}/100 Days Completed</span
                >
                <span class="mt-1 font-medium">Learn more</span>
            </a>
        </section>
    </main>
</MainLayout>
