---
import MainLayout from "../../layouts/MainLayout.astro";
import ChipButton from "../../components/ChipButton.astro";
import PageTitle from "../../components/PageTitle.astro";

import { getCollection } from "astro:content";
import { slugify } from "../../utils";
import PostPreview from "../../components/PostPreview.astro";

let posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
posts = posts.filter((post) => !post.data.draft);

const categories = [
    ...new Set(posts.map((post: any) => post.data.category).flat()),
];
const categoryPath = "/blog/category/";
---

<MainLayout
    title={"Blog"}
    description="This is my personal blog, where I share thoughts on tech, personal growth, and health. Find insights into the latest tech trends, learn from my health journey, and join me on my personal journey!"
>
    <main>
        <PageTitle>Blog</PageTitle>
        <section>
            <div class="my-2 overflow-x-auto whitespace-nowrap">
                {
                    categories.map((category) => {
                        return (
                            <ChipButton
                                categoryName={category}
                                categorySlug={categoryPath + slugify(category)}
                            />
                        );
                    })
                }
            </div>
        </section>
        <section>
            {
                posts.map((post: any) => (
                    <PostPreview
                        title={post.data.title}
                        description={post.body.split(/\n\n/)[0]}
                        postSlug={`/blog/${post.slug}/`}
                        category={post.data.category}
                        categoryPath={categoryPath}
                        pubDate={post.data.pubDate}
                        shortText={post.body.split(/\n\n/).length <= 1}
                    />
                ))
            }
        </section>
    </main>
</MainLayout>
