---
import MainLayout from "../../../layouts/MainLayout.astro";

import { getCollection } from "astro:content";
import { slugify } from "../../../utils";
import PostPreview from "../../../components/PostPreview.astro";

const { posts, categoryName, category } = Astro.props;

export async function getStaticPaths() {
    let posts = await getCollection("blog");

    const categoriesList: string[] = [
        ...(new Set(
            posts.map((post: any) => post.data.category).flat()
        ) as any),
    ];

    return categoriesList.map((currentCategory: string) => {
        return {
            params: { category: slugify(currentCategory) },
            props: { posts: posts, categoryName: currentCategory },
        };
    });
}

let categoryPosts = await getCollection("blog", ({ data }) => {
    return data.category === categoryName;
});
categoryPosts = categoryPosts
    .sort((a: any, b: any) => {
        return b.data.pubDate - a.data.pubDate;
    })
    .filter((post) => !post.data.draft);
---

<MainLayout
    title={categoryName}
    description={categoryName + " is one of blog's categories"}
>
    <main>
        <h1>{categoryName}</h1>
        <section>
            {
                categoryPosts.map((post: any) => (
                    <PostPreview
                        title={post.data.title}
                        description={post.body.split(/\n\n/)[0]}
                        postSlug={`/blog/${post.slug}/`}
                        pubDate={post.data.pubDate}
                        shortText={post.body.split(/\n\n/).length <= 1}
                    />
                ))
            }
        </section>
    </main>
</MainLayout>
