---
import FormattedDate from "../../../components/FormattedDate.astro";
import MainLayout from "../../../layouts/MainLayout.astro";

import { getCollection } from "astro:content";
import { removeMarkdown, slugify } from "../../../utils";
import PostPreview from "../../../components/PostPreview.astro";

export async function getStaticPaths() {
    let posts = await getCollection("blog");
    const uniqueCategory = [
        ...new Set(posts.map((post: any) => post.data.category).flat()),
    ];

    return uniqueCategory.map((currentCategory) => {
        const filteredPosts = posts.filter((post: any) =>
            post.data.category.includes(currentCategory)
        );
        return {
            params: { category: slugify(currentCategory) },
            props: { posts: filteredPosts, categoryName: currentCategory },
        };
    });
}

const { posts, categoryName } = Astro.props;
---

<MainLayout title={categoryName}>
    <main>
        <h1>{categoryName}</h1>
        <section>
            {
                posts.map((post: any) => (
                    <PostPreview
                        title={post.data.title}
                        description={post.body.split(/\n\n/)[0]}
                        postSlug={`/blog/${post.slug}/`}
                        pubDate={post.data.pubDate}
                        shortText={post.body.split(/\n\n/).length <= 1}
                    />
                ))
            }
        </section>
    </main>
</MainLayout>
