---
import "../../styles/global.css";
import { SEO } from "astro-seo";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

export interface Props {
    title: string;
    description: string;
    image?: string;
    isPost?: boolean;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
    title,
    description = "text",
    isPost,
    image = "/assets/socialBannerCerneZan.jpg",
} = Astro.props;

function prepareTitle(title: string | undefined): string {
    if (title === "" && isPost) {
        return description.slice(0, 45) + "..." + " | " + SITE_TITLE;
    } else if (title === undefined) {
        return SITE_TITLE;
    }

    return `${title} | ${SITE_TITLE}`;
}

function prepareType(isPost: boolean | undefined) {
    if (isPost) {
        return "article";
    } else {
        return "website";
    }
}

const finalizedTitle = prepareTitle(title);
const finalizedDescription = description.slice(0, 140) + "...";
const finalizedType = prepareType(isPost);

console.log(finalizedTitle, "title");
console.log(finalizedDescription, "description");
console.log(finalizedType, "type");
console.log(image, "image");
---

<SEO
    title={finalizedTitle}
    description={finalizedDescription}
    openGraph={{
        basic: {
            title: finalizedTitle,
            type: finalizedType,
            image: image,
        },
    }}
    extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/assets/favicon.svg" }],
        // extending the default meta tags
        meta: [
            {
                name: "twitter:image",
                content: image,
            },
            { name: "twitter:title", content: finalizedTitle },
            { name: "twitter:description", content: finalizedDescription },
        ],
    }}
/>
<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{finalizedTitle}</title>
<meta name="title" content={finalizedTitle} />
<meta name="description" content={finalizedDescription} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={finalizedTitle} />
<meta property="og:description" content={finalizedDescription} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={finalizedTitle} />
<meta property="twitter:description" content={finalizedDescription} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<link rel="sitemap" href="/sitemap-index.xml" />
