---
import BaseHead from "../components/website-base/BaseHead.astro";
import Footer from "../components/website-base/Footer.astro";
import Header from "../components/Header.astro";
import ChipCloud from "../components/ChipCloud.astro";
import PostsPreview from "../components/PostsPreview.astro";
import TitleSection from "../components/TitleSection.astro";
import MainButton from "../components/buttons/mainButton.astro";
import {Icon} from "astro-icon";
import {SITE_TITLE, SITE_DESCRIPTION} from "../consts";
import {CollectionEntry, getCollection} from "astro:content";

import signature from "../assets/icons/signature.svg";
import {Image} from "astro:assets";

const blogEntries: CollectionEntry<"blog">[] = await getCollection("blog");

const latestPosts: CollectionEntry<"blog">[] = blogEntries
    .filter((post) => !post.data.draft && post.data.title)
    .sort((a: {data: {pubDate: Date}}, b: {data: {pubDate: Date}}) => {
        return b.data.pubDate.valueOf() - a.data.pubDate.valueOf();
    })
    .slice(0, 2);
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={"Home"} description={SITE_DESCRIPTION} isPost={false} />
    </head>
    <body class="flex w-full max-w-4xl flex-col md:mx-auto">
        <section aria-label="Žan Černe - Personal website" class="overflow-hidden px-6 pb-6 md:flex-row md:overflow-visible">
            <Header title={SITE_TITLE} />
            <div class="flex h-auto flex-col-reverse py-10 md:flex-row md:py-20">
                <!-- HELLO WITH SOCIALS -->
                <div class="md:my-auto">
                    <h1 class="mb-0">Hey, I'm Žan</h1>

                    <div class="mb-6 mt-0 text-lg font-semibold opacity-70">Welcome to my little corner of the web</div>

                    <div class="flex gap-x-5 py-1" role="contentinfo" aria-label="Social media links">
                        <a href="mailto:cv14ht16@duck.com" class="text-current opacity-70 hover:opacity-100" aria-label="Send me an email">
                            <Icon class="h-8 w-8" name="tabler:mail" />
                        </a>
                        <a href="https://github.com/cernezan" target="_blank" rel="noopener noreferrer" class="text-current opacity-70 hover:opacity-100" aria-label="Github profile">
                            <Icon class="h-8 w-8" name="tabler:brand-github" />
                        </a>

                        <a href="https://mastodon.social/@cernezan" target="_blank" rel="noopener noreferrer" class="text-current opacity-70 hover:opacity-100" aria-label="Github profile">
                            <Icon class="h-8 w-8" name="ri:mastodon-line" />
                        </a>

                        <a href="https://linkedin.com/in/cernezan/" target="_blank" rel="noopener noreferrer" class="text-current opacity-70 hover:opacity-100" aria-label="Github profile">
                            <Icon class="h-8 w-8" name="tabler:brand-linkedin" />
                        </a>
                    </div>
                </div>
                <!-- LOGO WITH BLOBS -->
                <div class="reduce-motion relative inset-0 m-auto my-12 flex items-center justify-center">
                    <div class="reduce-motion animation-delay-2500 absolute left-0 top-0 m-6 h-72 w-72 animate-blob items-center justify-center rounded-full bg-specialIndigo p-4 pl-7 opacity-70 mix-blend-multiply blur-xl filter md:left-0 md:top-0"></div>
                    <div class="reduce-motion animation-delay-4000 absolute left-0 top-0 -m-2 h-72 w-72 animate-blob items-center justify-center rounded-full bg-specialGreen mix-blend-multiply blur-xl filter md:left-0 md:top-0"></div>
                    <div class="reduce-motion animation-delay-2000 absolute left-0 top-0 -m-10 h-72 w-72 animate-blob items-center justify-center rounded-full bg-specialBlue opacity-70 mix-blend-multiply blur-xl filter md:left-0 md:top-0"></div>
                    <svg class="relative m-8 space-y-4" width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="Žan Černe logo">
                        <g clip-path="url(#clip0_55_12)">
                            <circle cx="96" cy="96" r="96" fill="#171717"></circle>
                            <path d="M88.4557 132.301H56.1055L111.388 59.699H144.072L88.4557 132.301Z" fill="#FEFEFE"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M131.676 98.5894C138.343 108.568 141.902 120.3 141.902 132.301H117.933C117.04 112.798 100.946 97.261 81.2229 97.261C71.5097 97.261 62.6766 101.029 56.1059 107.184L38.3164 89.3943C46.8025 80.9082 57.6145 75.1291 69.3851 72.7878C81.1557 70.4465 93.3562 71.6481 104.444 76.2408C115.532 80.8334 125.008 88.6108 131.676 98.5894Z" fill="#FEFEFE"></path>
                        </g>
                        <defs>
                            <clipPath id="clip0_55_12">
                                <rect width="192" height="192" fill="white"></rect>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
            </div>
        </section>

        <!-- MY INTERESTS -->
        <section class="px-6 py-6" aria-label="My interests">
            <TitleSection title="My Interests" description="Diverse interests that spark my curiosity" />

            <ChipCloud listOfItems={["Technology", "Design", "Health and fitness", "Reading", "Meditation", "Movies", "Learning", "Playing guitar", "Programming", "Traveling"]} />
        </section>

        <!-- MORE ABOUT ME AND CONTACT -->
        <section class="px-6 pt-6" aria-label="What is this website and contact.">
            <TitleSection title="What is This?" description="This is my personal website" />
            <p>This is an ongoing project to which I've dedicated considerable effort. Additionally, I've decided to make the code publicly available for anyone interested in learning from it.</p>
            <p>I love learning about new things, so I've built this website and its accompanying blog. Here, I write about what I've learned, discuss my day-to-day challenges, and share articles that I find interesting and insightful. I believe that everyone should have their own space on the internet where they can express and share their insights.</p>
            <p>If you've come this far, you might want to reach out to me directly. I would be absolutely delighted to hear from you and connect.</p>

            <div class="my-4 flex flex-col gap-4 text-center md:flex-row">
                <MainButton text="Let's Connect" href="/contact" />
                <MainButton isSecondary={true} text="About Me" href="/about" />
            </div>

            <p>Stay curious,</p>
            <Image class="h-20 w-24" src={signature} alt="Personal signature" aria-label="Personal signature" format="avif" />
        </section>

        <section class="px-6 py-6" aria-label="Footer of the website">
            <Footer />
        </section>
    </body>
</html>
