---
import {AstroComponentInstance} from "astro/dist/runtime/server";
import type {CollectionEntry} from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import MainLayout from "./MainLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const {title, headerImage, pubDate, updatedDate} = Astro.props;
---

<MainLayout>
	<main>
		<!-- HEADER IMAGE -->
		{headerImage && <img width={720} height={360} src={headerImage} alt="" />}

		<!-- DATE -->
		<div class="text-zinc-600 text-sm">
			{pubDate && <FormattedDate date={pubDate} />}
			{
				updatedDate && (
					<div>
						Last updated on <FormattedDate date={updatedDate} />
					</div>
				)
			}
		</div>

		<!-- TODO: Add category -->

		<h1 class="mt-0">{title}</h1>

		<!-- CONTENT -->
		<slot />
	</main>
</MainLayout>
