---
import type { CollectionEntry } from "astro:content";
import { slugify } from "../utils";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import FormattedDate from "../components/FormattedDate.astro";
import BlogPostHead from "../components/BlogPostHead.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"blog">["data"];

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, headerImage, pubDate, updatedDate, category } = Astro.props;
const categoryPath = "/blog/category/";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BlogPostHead title={title || ""} description={category} />
        <!-- <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} /> -->
    </head>
    <body class="flex h-screen w-full max-w-4xl flex-col px-6 md:mx-auto">
        <Header title={SITE_TITLE} />

        <main>
            <!-- HEADER IMAGE -->
            {
                headerImage && (
                    <img width={720} height={360} src={headerImage} alt="" />
                )
            }

            <!-- DATE AND CATEGORY -->
            <div class="text-sm text-zinc-600">
                <a href={categoryPath + slugify(category)}>{category}</a>
                <span>·</span>
                {pubDate && <FormattedDate date={pubDate} />}
                {
                    updatedDate && (
                        <div>
                            Last updated on <FormattedDate date={updatedDate} />
                        </div>
                    )
                }
            </div>

            <h1 class="mt-0">{title}</h1>

            <!-- CONTENT -->
            <slot />
        </main>
    </body>
</html>
