---
import MainLayout from "./MainLayout.astro";
import PageImage from "../components/PageImage.astro";
import PageTitle from "../components/PageTitle.astro";
import CategoryDate from "../components/CategoryDate.astro";
import BackToBlog from "../components/post-components/BackToBlog.astro";
import { removeMarkdown } from "../utils";
import { CollectionEntry, getCollection } from "astro:content";
import TitleSection from "../components/TitleSection.astro";
import ChipCloud from "../components/ChipCloud.astro";
import MainButton from "../components/buttons/mainButton.astro";
import PostsPreview from "../components/PostsPreview.astro";

export interface Props {
    title: string;
    headerImage?: string;
    pubDate: Date;
    updatedDate?: Date;
    category: string;
}

const { title, headerImage, pubDate, updatedDate, category } = Astro.props;
const categoryPath = "/blog/category/";

let posts: CollectionEntry<"blog">[] = await getCollection("blog");

const filteredPosts = posts.filter(
    (post) => !post.data.draft && post.data.title && post.data.title !== "",
);
let randomNums = Math.floor(Math.random() * filteredPosts.length);
if (randomNums < 2 || randomNums === posts.length) {
    randomNums = 2;
}
const twoRandomPosts = filteredPosts.slice(randomNums - 2, randomNums);

// postData is used for meta tags (social media descriptions)
const postData = posts.filter((post) => post.slug === Astro.params.slug)[0];
const postURL = Astro.url.href;
---

<MainLayout
    title={title}
    image={headerImage}
    description={removeMarkdown(postData.body).slice(0, 400) + "..."}
    isPost={true}
>
    <!-- HEADER IMAGE -->
    <PageImage image={headerImage} title={title} category={category} />
    <!-- DATE AND CATEGORY -->
    <CategoryDate
        category={category}
        categoryPath={categoryPath}
        pubDate={pubDate}
        updatedDate={updatedDate}
    />
    <section aria-label="Blog post" class="full-view">
        <!-- TITLE -->
        <PageTitle>{title}</PageTitle>
        <!-- CONTENT -->
        <slot />
    </section>
    <BackToBlog />
    <!-- POST SUGGESTION-->
    <section class="my-12 flex flex-col items-center text-center">
        <TitleSection
            title="Suggested Reads"
            description="Continue exploring more posts"
        />
        <PostsPreview posts={twoRandomPosts} />
    </section>
    <!-- SUBSCRIBE RSS -->
    <section
        class="my-12 flex flex-col items-center text-center"
        aria-label="Subscribe to RSS"
    >
        <TitleSection
            title="Subscribe Now to Stay Updated"
            description="Join hundreds of readers with more articles like this"
        />
        <ChipCloud
            listOfItems={["Technology", "Design", "Health", "Productivity"]}
            centerItems={true}
        />

        <div
            class="my-6 flex flex-col items-center gap-4 text-center md:flex-row md:justify-center"
        >
            <MainButton
                text="Subscribe to RSS"
                leftIcon="tabler:rss"
                href="/rss.xml"
            />
        </div>
    </section>
</MainLayout>
