---
import type {CollectionEntry} from "astro:content";
import {slugify} from "../utils";

import FormattedDate from "../components/FormattedDate.astro";
import MainLayout from "./MainLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const {title, headerImage, pubDate, updatedDate, category} = Astro.props;
const categoryUrl = canonicalURL.origin + "/blog/category/" + slugify(category);
console.log(categoryUrl);
---

<MainLayout>
	<main>
		<!-- HEADER IMAGE -->
		{headerImage && <img width={720} height={360} src={headerImage} alt="" />}

		<!-- DATE -->
		<div class="text-zinc-600 text-sm">
			{pubDate && <FormattedDate date={pubDate} />}
			{
				updatedDate && (
					<div>
						Last updated on <FormattedDate date={updatedDate} />
					</div>
				)
			}
		</div>

		<!-- TODO: Add category -->
		<a href={categoryUrl} class="text-zinc-600 text-sm">{category}</a>

		<h1 class="mt-0">{title}</h1>

		<!-- CONTENT -->
		<slot />
	</main>
</MainLayout>
