---
import type { CollectionEntry } from "astro:content";
import { getEntryBySlug } from "astro:content";

import { slugify, createMetaDescription } from "../utils";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, headerImage, pubDate, updatedDate, category } = Astro.props;
const categoryPath = "/blog/category/";
const postUrlPath = Astro.url.pathname;

let slugString: string = title ? slugify(title) : postUrlPath.split("/")[2];
let postBody = (await getEntryBySlug("blog", slugString))?.body || "";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={title || ""} description={createMetaDescription(postBody)} image={headerImage} />
        <!-- <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} /> -->
    </head>
    <body class="flex h-screen w-full max-w-4xl flex-col px-6 md:mx-auto">
        <Header title={SITE_TITLE} />

        <main>
            <!-- HEADER IMAGE -->
            {headerImage && <img width={720} height={360} src={headerImage} alt="" />}

            <!-- DATE AND CATEGORY -->
            <div class="text-sm text-zinc-600">
                <a href={categoryPath + slugify(category)}>{category}</a>
                <span>·</span>
                {pubDate && <FormattedDate date={pubDate} />}
                {
                    updatedDate && (
                        <div>
                            Last updated on <FormattedDate date={updatedDate} />
                        </div>
                    )
                }
            </div>

            <h1 class="mt-0">{title}</h1>

            <!-- CONTENT -->
            <slot />
        </main>
    </body>
</html>
